TABLE {
    width: 300px; /* Ширина таблицы */
    border-top: 2px solid #000; /* Линия сверху таблицы */
    border-bottom: 2px solid #000; /* Линия внизу таблицы */
}
TD, TH {
    padding: 3px; /* Поля вокруг содержимого ячеек */
}
TH {
    text-align: left; /* Выравнивание текста по левому краю */
    border-bottom: 1px solid #000; /* Линия под верхним заголовком */
}