.content__showing-box {
  background-color: #EFF0F6;
  border-radius: 8px;
  border: 1px solid #D3D3D3;
  color: #6B7280;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-left: 10px;
  padding: 8px 16px;
}
.content__showing-list {
    background-color: #EFF0F6;
}