
.main {
  margin: 30px 0 70px;
}
.main__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.content {
  max-width: 875px;
  margin-left: 20px;
}
.content__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.content__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid #C2C8D0;
}


.content__list {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.content__list-item {
  width: 100%;
  max-width: 425px;
  border: 1px solid #7C48EE;
  border-top: none;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content__list-link {
  display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
}
.content__list-link::before {
  content: "";
  position: absolute;
  right: 10px;
  bottom: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100px;
  height: 100px;
}
.content__list-link-services::before {
  background-image: url(../images/main/my_servises.svg);
  color: #85B7F0;
}
.content__list-link-myservices::before {
  background-image: url(../images/main/servises.svg);
}
.content__list-link-tickets::before {
  background-image: url(../images/main/support.svg);
  bottom: 10px;
}
.content__list-link-invoices::before {
  background-image: url(../images/main/invoices.svg);
}
.content__list-link-title {
  background: -webkit-gradient(linear, left bottom, left top, from(#7842F6), to(#509CE9));
  background: -o-linear-gradient(bottom, #7842F6 0%, #509CE9 100%);
  background: linear-gradient(360deg, #7842F6 0%, #509CE9 100%);
  border-radius: 4px;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #fff;
  padding: 18px 14px;
  width: 100%;
}
.content__list-body {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #000;
  margin: 34px 20px 20px;
  min-height: 109px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content__list-info {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
}
.content__list-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  position: relative;
}
.content__list-box::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #85B7F0;
}
.content__list-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 1.2px;
  height: 100%;
  background-color: #85B7F0;
}
.content__info-number {
  font-weight: 600;
  font-size: 64px;
  line-height: 58px;
  color: #85B7F0;
  margin-right: 10px;
}
.content__box-info {
  padding: 10px 5%;
}
.content__box-number {
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
}
.content__box-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #000;
}

@media (max-width: 1100px) {
  .content__list-body {
    margin: 15px 10px;
  }
  .content__info-number {
    font-size: 54px;
    line-height: 48px;
  }
  .content__box-number {
    font-size: 22px;
    line-height: 120%;
  }
}
@media (max-width: 900px) {
  .content__list {
    gap: 10px;
  }
  .content__list-body {
    font-size: 14px;
    line-height: 110%;
  }
  .content__list-info {
    font-size: 12px;
  }
  .content__info-number {
    font-size: 40px;
    line-height: 34px;
  }
  .content__box-number {
    font-size: 18px;
    line-height: 110%;
  }
}
@media (max-width: 750px) {
  .main {
    padding-top: 115px;
    margin: 0 0 30px;
  }
  .header__logo img {
    width: 70%;
  }
  .content {
    margin: 0;
  }
  .content__top-search {
    padding: 5px;
    max-width: 100%;
    margin-left: 0;
  }
  .content__list-body {
    margin: 34px 20px 20px;
  }
}
@media (max-width: 600px) {
  .content__list-body {
    margin: 15px 10px;
  }
}
@media (max-width: 550px) {

  .aside-info-none {
    display: none;
  }

  .content {
    width: 100%;
  }
  .content__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border: none;
  }
  .content__top-box {
    margin-top: 10px;
  }
  .content__top-search {
    margin: 10px 0 0;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
  .content__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content__list-item {
    max-width: 100%;
  }
  .content__info-number {
    font-size: 54px;
    line-height: 48px;
  }
  .content__box-number {
    font-size: 22px;
    line-height: 120%;
  }

  .content__list-link::before {
    width: 90px;
    height: 90px;
  }
}
