{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/invoices.css' %}">
{% endblock %}

{% block left_menu %}
              <div class="aside__accordion">
                <div id="aside__accordion-top" class="aside__accordion-top">
                  <img class="aside__top-img" src="{% static 'images/filter.svg' %}" alt="icon">
                  <h6 class="aside__top-title">Status</h6>
                  <img class="aside__top-arrow" src="{% static 'images/chevron-down.svg' %}" alt="icon">
                </div>

                <ul class="aside__accordion-list">
                  <li class="aside__accordion-item">
                    <label class="aside__accordion-label" for="status1">
                        <input id="status1" class="aside__accordion-check"  name="check" type="checkbox" >
                        Paid
                      </label>
                    <p class="aside__accordion-number">
                      {% if statuses.Paid %}
                        {{ statuses.Paid }}
                      {% else %}
                        {{ statuses.null }}
                      {% endif %}
                    </p>
                  </li>
                  <li class="aside__accordion-item">
                      <label class="aside__accordion-label" for="status2">
                        <input id="status2" class="aside__accordion-check" name="check" type="checkbox">
                        Unpaid
                      </label>
                    <p class="aside__accordion-number">
                      {% if statuses.Unpaid %}
                        {{ statuses.Unpaid }}
                      {% else %}
                        {{ statuses.null }}
                      {% endif %}
                    </p>
                  </li>
                  <li class="aside__accordion-item">
                      <label class="aside__accordion-label" for="status3">
                        <input id="status3" class="aside__accordion-check" name="check" type="checkbox">
                        Canceled
                      </label>
                    <p class="aside__accordion-number">
                      {% if statuses.Canceled %}
                        {{ statuses.Canceled }}
                      {% else %}
                        {{ statuses.null }}
                      {% endif %}
                    </p>
                  </li>
                  <li class="aside__accordion-item">
                    <label class="aside__accordion-label" for="status4">
                      <input id="status4" class="aside__accordion-check"  name="check" type="checkbox">
                        Refunded
                      </label>
                    <p class="aside__accordion-number">
                      {% if statuses.Refunded %}
                        {{ statuses.Refunded }}
                      {% else %}
                        {{ statuses.null }}
                      {% endif %}
                    </p>
                  </li>
                </ul>
              </div>

              <div class="aside__accordion">
                <div id="aside__accordion-top" class="aside__accordion-top">
                  <img class="aside__top-img" src="{% static 'images/calendar.svg' %}" alt="icon">
                  <h6 class="aside__top-title">Calendar</h6>
                  <img class="aside__top-arrow" src="{% static 'images/chevron-down.svg' %}" alt="icon">
                </div>

                <ul class="aside__accordion-list">
                  <li class="aside__accordion-item aside__accordion-date">
                    <p class="aside__accordion-text">From:</p>
                    <select id="aside__select-month" class="aside__accordion-select">
                      <option class="aside__accordion-option" value="january">January</option>
                      <option class="aside__accordion-option" value="february">February</option>
                      <option class="aside__accordion-option" value="march">March</option>
                      <option class="aside__accordion-option" value="april">April</option>
                      <option class="aside__accordion-option" value="may">May</option>
                      <option class="aside__accordion-option" value="june">June</option>
                      <option class="aside__accordion-option" value="july">July</option>
                      <option class="aside__accordion-option" value="august">August</option>
                      <option class="aside__accordion-option" value="september">September</option>
                      <option class="aside__accordion-option" value="october">October</option>
                      <option class="aside__accordion-option" value="november">November</option>
                      <option class="aside__accordion-option" value="december">December</option>
                    </select>
                    <select id="aside__select-days" class="aside__accordion-select">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                      <option value="16">16</option>
                      <option value="17">17</option>
                      <option value="18">18</option>
                      <option value="19">19</option>
                      <option value="20">20</option>
                      <option value="21">21</option>
                      <option value="22">22</option>
                      <option value="23">23</option>
                      <option value="24">24</option>
                      <option value="25">25</option>
                      <option value="26">26</option>
                      <option value="27">27</option>
                      <option value="28">28</option>
                      <option value="29">29</option>
                      <option value="30">30</option>
                      <option value="31">31</option>
                    </select>
                    <select id="aside__select-years" class="aside__accordion-select">
                      <option value="1994">1994</option>
                      <option value="1995">1995</option>
                      <option value="1996">1996</option>
                      <option value="1997">1997</option>
                      <option value="1998">1998</option>
                      <option value="1999">1999</option>
                      <option value="2000">2000</option>
                      <option value="2001">2001</option>
                      <option value="2002">2002</option>
                      <option value="2003">2003</option>
                      <option value="2004">2004</option>
                      <option value="2005">2005</option>
                      <option value="2006">2006</option>
                      <option value="2007">2007</option>
                      <option value="2008">2008</option>
                      <option value="2009">2009</option>
                      <option value="2010">2010</option>
                      <option value="2011">2011</option>
                      <option value="2012">2012</option>
                      <option value="2013">2013</option>
                      <option value="2014">2014</option>
                      <option value="2015">2015</option>
                      <option value="2016">2016</option>
                      <option value="2017">2017</option>
                      <option value="2018">2018</option>
                      <option value="2019">2019</option>
                      <option value="2020">2020</option>
                      <option value="2021">2021</option>
                      <option value="2022">2022</option>
                      <option value="2023">2023</option>
                    </select>
                  </li>
                  <li class="aside__accordion-item aside__accordion-date">
                    <p class="aside__accordion-text">To:</p>
                    <select id="aside__select-month" class="aside__accordion-select">
                      <option class="aside__accordion-option" value="january">January</option>
                      <option class="aside__accordion-option" value="february">February</option>
                      <option class="aside__accordion-option" value="march">March</option>
                      <option class="aside__accordion-option" value="april">April</option>
                      <option class="aside__accordion-option" value="may">May</option>
                      <option class="aside__accordion-option" value="june">June</option>
                      <option class="aside__accordion-option" value="july">July</option>
                      <option class="aside__accordion-option" value="august">August</option>
                      <option class="aside__accordion-option" value="september">September</option>
                      <option class="aside__accordion-option" value="october">October</option>
                      <option class="aside__accordion-option" value="november">November</option>
                      <option class="aside__accordion-option" value="december">December</option>
                    </select>
                    <select id="aside__select-days" class="aside__accordion-select">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                      <option value="16">16</option>
                      <option value="17">17</option>
                      <option value="18">18</option>
                      <option value="19">19</option>
                      <option value="20">20</option>
                      <option value="21">21</option>
                      <option value="22">22</option>
                      <option value="23">23</option>
                      <option value="24">24</option>
                      <option value="25">25</option>
                      <option value="26">26</option>
                      <option value="27">27</option>
                      <option value="28">28</option>
                      <option value="29">29</option>
                      <option value="30">30</option>
                      <option value="31">31</option>
                    </select>
                    <select id="aside__select-years" class="aside__accordion-select">
                      <option value="1994">1994</option>
                      <option value="1995">1995</option>
                      <option value="1996">1996</option>
                      <option value="1997">1997</option>
                      <option value="1998">1998</option>
                      <option value="1999">1999</option>
                      <option value="2000">2000</option>
                      <option value="2001">2001</option>
                      <option value="2002">2002</option>
                      <option value="2003">2003</option>
                      <option value="2004">2004</option>
                      <option value="2005">2005</option>
                      <option value="2006">2006</option>
                      <option value="2007">2007</option>
                      <option value="2008">2008</option>
                      <option value="2009">2009</option>
                      <option value="2010">2010</option>
                      <option value="2011">2011</option>
                      <option value="2012">2012</option>
                      <option value="2013">2013</option>
                      <option value="2014">2014</option>
                      <option value="2015">2015</option>
                      <option value="2016">2016</option>
                      <option value="2017">2017</option>
                      <option value="2018">2018</option>
                      <option value="2019">2019</option>
                      <option value="2020">2020</option>
                      <option value="2021">2021</option>
                      <option value="2022">2022</option>
                      <option value="2023">2023</option>
                    </select>
                  </li>
                </ul>
              </div>

              <div class="aside__accordion">
                <div id="aside__accordion-top" class="aside__accordion-top">
                  <img class="aside__top-img" src="{% static 'images/credit-card.svg' %}" alt="icon">
                  <h6 class="aside__top-title">Payments</h6>
                  <img class="aside__top-arrow" src="{% static 'images/chevron-down.svg' %}" alt="icon">
                </div>

                <ul class="aside__accordion-list">
                  <li class="aside__accordion-item">
                    <label class="aside__accordion-label" for="payments1">
                        <input id="payments1" class="aside__accordion-check"  name="payments" type="checkbox" >
                        Paypall
                      </label>
                  </li>
                  <li class="aside__accordion-item">
                      <label class="aside__accordion-label" for="payments2">
                        <input id="payments2" class="aside__accordion-check" name="payments" type="checkbox">
                        Payoneer
                      </label>
                  </li>
                  <li class="aside__accordion-item">
                      <label class="aside__accordion-label" for="payments3">
                        <input id="payments3" class="aside__accordion-check" name="payments" type="checkbox">
                        Fondy
                      </label>
                  </li>
                </ul>
              </div>

              <button class="aside__accordion-btn">Search</button>
{% endblock %}

{% block content %}
              <div class="content__top">
                <div class="content__top-body">
                  <h1 class="title content__top-title">Invoices history</h1>
                  <div id="content__top-box" class="content__top-box">
                    <p class="content__top-text">Showing</p>
                    <p id="content__top-number" class="content__top-number">10</p>
                    <img src="{% static 'images/invoices/arrow-drop-down.svg' %}" alt="icon">
                    <p class="content__top-numbers">of 245</p>
                    <ul id="content__top-list" class="content__top-list">
                      <li class="content__top-item">10</li>
                      <li class="content__top-item">50</li>
                      <li class="content__top-item">100</li>
                      <li class="content__top-item">All</li>
                    </ul>
                  </div>
                </div>
                <div class="content__top-search">
                  <img class="content__top-img" src="{% static 'images/Search.svg' %}" alt="Search">
                  <input class="content__top-input" type="text" placeholder="Search">
                </div>
              </div>

              <ul class="content__titles">
                <li class="content__titles-item">
                  Invoice
                </li>
                <li class="content__titles-item">
                  Invoice Date
                </li>
                <li class="content__titles-item">
                  Due Date
                </li>
                <li class="content__titles-item">
                  Total
                </li>
                <li class="content__titles-item">
                  Status
                </li>
              </ul>

              {% for invoice_date in invoices_dates %}
              <div class="content__inner">
                <div class="content__body">
                  <p class="content__body-titleDate">{{ invoice_date }}</p>
                  <ul class="content__body-list">
                    {% for invoice in invoices %}
                      {% if invoice.date == invoice_date %}
                    <li class="content__body-box">
                      <ul class="content__body-titles">
                        <li class="content__body-title">Invoice</li>
                        <li class="content__body-title">Status</li>
                        <li class="content__body-title">Invoice Date</li>
                        <li class="content__body-title">Due Date</li>
                        <li class="content__body-title">Total</li>
                      </ul>
  
                      <ul class="content__body-items">
                        <p class="content__body-number">{{ invoice.id }}</p>
                        <li class="content__body-item style--width">
                          <img src="{% static 'images/invoices/print.svg' %}" alt="print">
                          <p class="content__body-text">{{ invoice.invoice_id }}</p>
                        </li>
                        <li class="content__body-item style--width">
                          <p class="content__body-date">{{ invoice.date }}</p>
                        </li>
                        <li class="content__body-item style--width">
                          <p class="content__body-date">{{ invoice.due_date }}</p>
                        </li>
                        <li class="content__body-item style--width">
                          <p class="content__body-money">{{ invoice.price }}</p>
                        </li>
                        <li class="content__body-item style--width">
                          {% if invoice.status == 'Paid'  %}
                            <p class="content__body-status style--width font--green">Paid</p>
                          {% elif invoice.status == 'Canceled'  %}
                            <p class="content__body-status style--width font--red">Cancelled</p>
                          {% elif  invoice.status == 'Send' %}
                            <p class="content__body-status style--width font--yellow">Send</p>
                          {% elif invoice.status == 'Refunded' %}
                            <p class="content__body-status style--width font--blue">Refunded</p>
                          {% elif invoice.status == 'New' %}
                            <p class="content__body-status style--width font--blue">New</p>
                          {% else %}
                            <p class="content__body-status style--width font--yellow">{{ invoice.status }}</p>
                        {% endif %}
                        </li>
                      </ul>
  
                      <button class="content__body-btn">
                        <img class="content__body-img" src="{% static 'images/chevron.svg' %}" alt="arrow">
                      </button>
                    </li>
                        {% endif %}
                      {% endfor %}
                  </ul>
                </div>
              </div>
  {% endfor %}
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/invoices.js' %}"></script>
{% endblock %}