{% extends 'base.html' %}
{% load static %}
{% block content %}
  <h1>This is invoices page</h1>
    <table cellspacing="0" style="width: 80%; margin-left: 10%;">
        <tr>
            <th style="width: 25%">ID</th>
            <th style="width: 25%">Invoice id</th>

            <th style="width: 25%">Responsible</th>
            <th style="width: 25%">Is opened</th>
        </tr>
        {% for invoice in invoices %}
            <tr>
                <td><a href="{% url 'invoice_detail' invoice.id %}">{{ invoice.id }}</a></td>
                <td>{{ invoice.invoice_id }}</td>
                <td>{{ invoice.responsible }}</td>
                <td>{{ invoice.is_opened }}</td>
            </tr>
         {% endfor %}
    </table>
{% endblock %}