<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Invoice {{ invoice.invoice_id }}</title>
</head>
<body>
    <h1>Invoice {{ invoice.invoice_id }}</h1>
    <p>Invoice date: {{ invoice.date }}</p>
    <p>Due date: {{ invoice.due_date }}</p>
    <p>Total: {{ invoice.price }}</p>
    <p>Status: {% if invoice.status == 'P' %}
                       <p class="content__body-status style--width font--green">Paid</p>
                       {% elif invoice.status == 'F' %}
                       <p class="content__body-status style--width font--red">Cancelled</p>
                       {% else %}
                       <p class="content__body-status style--width font--red">{{ invoice.status }}</p>
                       {% endif %}</p>
</body>
</html>