{% extends "account/base.html" %}
{% load static %}

{% load i18n %}
{% block  extra_css %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/authentication.css' %}">
      <style>
      .footer {padding: 0;}
    </style>
{% endblock  %}
{% block head_title %}{% trans "Set Password" %}{% endblock %}



{% block content %}
  <style>
    h1 {
      font-weight: 600;
      color: #7842F6;
    }

    .input {
        display: block;
        border: none;
        background-color: inherit;
        cursor: pointer;
        margin-top: 30px;
        border-radius: 4px;
        outline: 1px solid transparent;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.15px;
        color: #7842F6;
        padding: 18px 14px;
        text-transform: uppercase;
        transition: all 0.3s;
      }

      .input:hover {
        background: transparent;
        outline-color: #7842F6;
        color: #7842F6;
      }
  </style>
    <h1>{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="input" type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
{% endblock %}
{% block foter %}
{% endblock %}
{% block extra_js %}
  <script src="{% static 'js/authentication.js' %}"></script>
{% endblock %}
