{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% block  extra_css %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/authentication.css' %}">
      <style>
      .footer {padding: 0;}
    </style>
{% endblock  %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block auth %}
<section class="authentication">
     <div class="authentication__body">
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
          <form  method="POST" id="authentication__password" class="authentication__password" action="{% url 'account_reset_password' %}">
          <div class="authentication__password-img">
            <img src="{% static 'images/authentication/Castle.svg' %}" alt="Castle">
          </div>
          <div class="authentication__password-box authentication__box-titles">
            <h5 class="authentication__box-title">Forgot password?</h5>
            <p class="authentication__box-subtitle">Enter your email to receive a reset link</p>
          </div>
              {% csrf_token %}
          <div class="authentication__box">
            {{ form.email }}
            <label class="authentication__box-label">Your e-mail</label>
          </div>
          <button class="authentication__button authentication__password-button" type="submit">Submit</button>
          <button><a href="{{ login_url }}"  class="authentication__password-back"  style="color: #7C48EE;">Back to Log In</a></button>
        </form>
     </div>
</section>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/authentication.js' %}"></script>
    <script src="{% static 'js/my-account.js' %}"></script>
{% endblock %}
