{% extends 'base.html' %}
{% load static %}
{% block content %}
  <h1>Invoice {{invoice.id}}</h1>
  <style type="text/css">
        TABLE {
        width: 300px; /* Ширина таблицы */
        border-top: 2px solid #000; /* Линия сверху таблицы */
        border-bottom: 2px solid #000; /* Линия внизу таблицы */
        }
        TD, TH {
        padding: 3px; /* Поля вокруг содержимого ячеек */
        }
        TH {
        text-align: left; /* Выравнивание текста по левому краю */
        border-bottom: 1px solid #000; /* Линия под верхним заголовком */
        }
    </style>

    <table cellspacing="0" style="width: 80%; margin-left: 10%;">
        <tr>
            <th style="width: 25%">Item id</th>
            <th style="width: 25%">Invoice id</th>
            <th style="width: 25%">Is opened</th>
            <th style="width: 25%">Price</th>
            <th style="width: 25%">Invoice array</th>
        </tr>
        <tr>
            <td>{{ invoice.id }}</td>
            <td>{{ invoice.invoice_id }}</td>
            <td>{{ invoice.is_opened }}</td>
            <td>{{ invoice.price }}</td>
            <td>{{ invoice.invoice }}</td>
        </tr>
    </table>
{% endblock %}