<!DOCTYPE html>
{% load i18n %}
{% load static %}
{% load account %}
{% load socialaccount %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/authentication.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/my-account.css' %}">
    <title>NEXXESS</title>
</head>
<body>
    {% if user.is_authenticated %}
        <header class="header">
        <div class="container">
          <div class="header__inner">
            <a href="/">
              <img src="{% static 'img/main/logo.png' %}" alt="logo">
            </a>
            <nav class="nav">
              <a class="nav__burger">
                <span class="nav__burger-line"></span>
              </a>
              <ul class="nav__list">
                <li class="nav__list-item">
                  <a class="nav__item-link" href="{% url 'invoices'%}">Invoices</a>
                </li>
                <li class="nav__list-item">
                  <a class="nav__item-link" href="{% url 'support'%}">Support</a>
                </li>
                <li class="nav__list-item">
                  <a class="nav__item-link" href="{% url 'services'%}">Services</a>
                </li>
              </ul>
            </nav>
            <div class="header__box">
              <a href="/profile"><img class="header__box-img" src="{% static 'img/main/user.svg' %}" alt="user"></a>
              <p class="header__box-text">Hello, {{ user.username }}</p>
              <a class="header__box-link" href="{% url 'account_logout' %}">Log Out</a>
            </div>
          </div>
        </div>
      </header>
    {% endif %}

    {% block content %}
    {% endblock %}
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/authentication.js' %}"></script>
    <script src="{% static 'js/test.js' %}"></script>
      <script src="{% static 'js/my-account.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>
