{% extends 'base.html' %}
{% load static %}

{% block left_menu %}
            <aside class="aside">
              <div class="aside__accordion">
                <div id="aside__accordion-top" class="aside__accordion-top">
                  <img class="aside__top-img" src="{% static 'images/tickets.svg' %}" alt="icon">
                  <h6 class="aside__top-title">Tickets</h6>
                  <img class="aside__top-arrow" src="{% static 'images/chevron-down.svg' %}" alt="icon">
                </div>

                <ul class="aside__accordion-list">
                  <li class="aside__accordion-item">
                    <a class="aside__accordion-link" href="#">
                      <p class="aside__accordion-text">Ongoing</p>
                      <p class="aside__accordion-number font--green">2</p>
                    </a>
                  </li>
                  <li class="aside__accordion-item">
                    <a class="aside__accordion-link" href="#">
                      <p class="aside__accordion-text">Overdue</p>
                      <p class="aside__accordion-number font--red">8</p>
                    </a>
                  </li>
                </ul>
              </div>

              <div class="aside__accordion">
                <div id="aside__accordion-top" class="aside__accordion-top">
                  <img class="aside__top-img" src="{% static 'images/credit-card.svg' %}" alt="icon">
                  <h6 class="aside__top-title">Payments</h6>
                  <img class="aside__top-arrow" src="{% static 'images/chevron-down.svg' %}" alt="icon">
                </div>

                <ul class="aside__accordion-list">
                  <li class="aside__accordion-item">
                    <a class="aside__accordion-link" href="#">Payments</a>
                  </li>
                  <li class="aside__accordion-item">
                    <a class="aside__accordion-link" href="#">Payoneer</a>
                  </li>
                  <li class="aside__accordion-item">
                    <a class="aside__accordion-link" href="#">Fondy</a>
                  </li>
                </ul>
              </div>
          </aside>
{% endblock %}

{% block content %}
              <div class="container">
                <form class="cabinet__wrap">
                  <div class="cabinet__photo-inner">
                    <label class="cabinet__photo-label" title="insert a new picture">
                      <img class="cabinet__photo-img" id="cabinet__photo-img">
                      <input class="cabinet__photo-input" id="cabinet__photo-input" type="file" name="file" accept="image/*">
                    </label>
                    <p class="cabinet__photo-name">
                      Test Testovich
                    </p>
                  </div>

                  <ul class="cabinet__list">
                    <li class="cabinet__item">
                      <p class="cabinet__text">First name</p>
                      <input class="cabinet__input" type="text" placeholder="First name">
                    </li>

                    <li class="cabinet__item">
                      <p class="cabinet__text">Last name</p>
                      <input class="cabinet__input" type="tel" placeholder="Last name">
                    </li>

                    <li class="cabinet__item">
                      <p class="cabinet__text">Email</p>
                      <input class="cabinet__input" type="email" placeholder="Email">
                    </li>

                    <li class="cabinet__item">
                      <p class="cabinet__text">Password</p>
                      <input class="cabinet__input" type="password" placeholder="Password">
                    </li>
                  </ul>

                  <div class="cabinet__buttons">
                    <button class="cabinet__buttons-save">Save</button>
                    <button class="cabinet__buttons-delete">Log out</button>
                  </div>
                </form>
              </div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/my-account.js' %}"></script>
{% endblock %}