{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}

      <style>
        .confirm-address-title {
          font-family: "Roboto", sans-serif;
          font-weight: 600;
          font-size: 32px;
          line-height: 150%;
          text-align: center;
        }

        .confirm-address-text {
          font-family: "Roboto", sans-serif;
          font-size: 20px;
          text-align: center;
        }

        .confirm-address-email {
          font-family: "Roboto", sans-serif;
          font-size: 20px;
          color: #7C48EE;
          line-height: 130%;
          text-decoration: none;
          transition: all 0.3s;
        }

        .confirm-address-email:hover {
          color: #509CE9;
        }

        .confirm-address-user {
          font-family: "Roboto", sans-serif;
          font-weight: 600;
          font-size: 40px;
          line-height: 130%;
          color: #7C48EE;
        }

        .confirm-address-btn {
          text-decoration: none;
          background: -webkit-gradient(linear, left bottom, left top, from(#7842F6), to(#509CE9));
          background: -o-linear-gradient(bottom, #7842F6 0%, #509CE9 100%);
          background: linear-gradient(360deg, #7842F6 0%, #509CE9 100%);
          border-radius: 4px;
          outline: 1px solid transparent;
          font-weight: 500;
          font-size: 16px;
          line-height: 10px;
          letter-spacing: 0.15px;
          color: #fff;
          padding: 18px 20px;
          text-transform: uppercase;
          cursor: pointer;
          border: none;
          transition: all 0.3s;
        }

        .confirm-address-btn:hover {
          background: transparent;
          outline-color: #7842F6;
          color: #7842F6;
        }
      </style>

        <h1 class="confirm-address-title">{% trans "Confirm E-mail Address" %}</h1>

        <p class="confirm-address-text">Please confirm that </p>
        <a class="confirm-address-email" href="mailto:{{ email }}">
          Go to Email
        </a>
         <p class="confirm-address-text">
          is an e-mail address for user
         </p>
          <p class="confirm-address-user">
            user_display
          </p>

          <form method="post" action=>
            {% csrf_token %}
            <a class="content__pay" href="{% url 'account_logout' %}">
              <button class="confirm-address-btn" type="button" id="confirm-button">
                {% trans 'Confirm' %}
              </button>
            </a>
          </form>





        <p class="confirm-address-text">
          This e-mail confirmation link expired or is invalid. Please
          <a class="confirm-address-email" href="{{ email_url }}">
            issue a new e-mail confirmation request.
          </a>
        </p>



{% endblock %}
