{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<style>
  .header {
    background-color: #FFFFFF;
    padding: 20px;
  }

  .header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #333333;
  }

  .header p {
    margin: 10px 0 0;
    font-size: 14px;
    color: #666666;
  }

  /*.conversation {*/
  /*  background-color: #F5F5F5;*/
  /*  width: 650px;*/
  /*  padding: 20px;*/
  /*  display: flex;*/
  /*  flex-direction: column;*/
  /*  align-items: flex-start;*/
  /*  justify-content: flex-start;*/
  /*}*/
  .empty_chat{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .conversation {
    position: absolute;
    display: flex;
    flex: 1 1;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    overflow: auto;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
  }
  .chat {
    display: flex;
    flex: 1 1;
    position: relative;
    background-color: #F5F5F5;
    min-height: 500px;
    width: 800px;
  }
  .conversation .message {
    background-color: #FFFFFF;
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 10px;

  }

  .conversation .message.your-manager {
    background-color: #9b8fff;
    color: #FFFFFF;
    align-self: flex-start;
  }

  .conversation .message.you {
    background-color: #EAEAEA;
    align-self: flex-end;
  }

  .conversation .message p {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
  }

  .conversation .message .time {
    margin-top: 5px;
    font-size: 12px;

  }

  /* Problem Block */
  .problem {
    background-color: #F5F5F5;
    padding: 20px;
  }

  @media (max-width: 767px) {
    .problem {
      padding: 20px 10px;
    }
  }

  /* Ticket Title */
  .ticket-title {
    margin: 5px 0 30px;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #333333;
  }

  @media (max-width: 767px) {
    .ticket-title {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }

  /* Problem Description */
  .problem-description {
    margin: 0 0 30px;
    text-align: center;
  }

  /* Problem Description */
  .title {
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 5px;
  }

  .problem-description-title {
    margin: 0 0 10px;
    font-size: 24px;
    font-weight: bold;
    color: #333333;
  }

  @media (max-width: 767px) {
    .problem-description-title {
      font-size: 18px;
    }
  }

  .problem-description-text {
    line-height: 1.5;
    font-size: xx-large;
    font-weight: bold;
    color: #333333;
    margin-bottom: 5px;
  }

  @media (max-width: 767px) {
    .problem-description-text {
      font-size: 16px;
    }
  }
  .deadline {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #333333;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}
  .chat-box__field {
    width: 100%;
    min-height: 60px;
    max-height: 95px;
    background-color: #f4f7f9;
    display: block;
    border-top: 2px solid #cfcccc;
}

.chat-box__field.hide {
    display: none;
}

.field {
    display: flex;
    justify-content: space-between;
    padding: 15px 5px 15px 15px;
    align-items: center;
}

.field__area {
    border: none;
    display: flex;
    flex-grow: 1;
    resize: none;
    background: none;
    outline: none;
    font-family: Inter,sans-serif;
    height: 23px;
}

.field__button {
    border: none;
    background: none;
    padding: 1px 6px;
    margin: 0;
    cursor: pointer;
    transition: all 0.2s;
    opacity: 1;
    pointer-events: all;
}
.added_file {
  font-family: Inter,sans-serif;
  font-size: 15px;
  padding-right: 7px;
  padding-bottom: 6px;
}
</style>
{% endblock extra_css %}
{% block left_menu %}
<div class="aside-info">
  <div class="aside-info__box">
    <div class="aside-info__box-top">
      <img class="aside-info__top-img" src="{% static 'images/alert.svg' %}" alt="icon">
      <h6 class="aside-info__top-title">Important</h6>
      <p class="aside-info__top-number">2</p>
    </div>
    <ul class="aside-info__box-list">
      <li class="aside-info__box-item">
        <p class="aside-info__box-text">Your current service:</p>
        <p class="aside-info__box-money">Gold</p>
      </li>
      <li class="aside-info__box-item">
        <p class="aside-info__box-text">New servises this month:</p>
        <p class="aside-info__box-money">2</p>
      </li>
      <li class="aside-info__box-item">
        <p class="aside-info__box-text">Actual discounts:</p>
        <p class="aside-info__box-money">10%</p>
      </li>
    </ul>
  </div>

  <div class="aside-info__accordion">
    <div id="aside-info__accordion-top" class="aside-info__accordion-top">
      <img class="aside-info__top-img" src="{% static '/images/main/custom-tickets.svg' %}" alt="icon">
      <h6 class="aside-info__top-title">Tickets</h6>
      <img class="aside-info__top-arrow" src="{% static 'images/chevron-down.svg' %}" alt="icon">
    </div>

    <ul class="aside-info__accordion-list">
      {% if status_closed %}
      <li class="aside-info__accordion-item">
        <a class="aside-info__accordion-link" href="#">
          <p class="aside-info__accordion-text">Closed</p>
          <p class="aside-info__accordion-number font--red">{{ status_closed }}</p>
        </a>
      </li>
      {% endif %}

      {% if status_overdue %}
      <li class="aside-info__accordion-item">
        <a class="aside-info__accordion-link" href="#">
          <p class="aside-info__accordion-text">Overdue</p>
          <p class="aside-info__accordion-number font--red">{{ status_overdue }}</p>
        </a>
      </li>
      {% endif %}

      {% if status_ongoin %}
      <li class="aside-info__accordion-item">
        <a class="aside-info__accordion-link" href="#">
          <p class="aside-info__accordion-text">Ongoing</p>
          <p class="aside-info__accordion-number font--green">{{ status_ongoin }}</p>
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
{% endblock %}
{% block task %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="ticket-container">
  <h1 class="ticket-title">Ticket #{{ task.task_id }}: {{ task.ticket_title }}📝 </h1>
  <div class="problem-description">
    <h2 class="problem-description-title">Your ticket Description📋:</h2>
    <p class="problem-description-text">{{ task.ticket_text }}</p>
  </div>
</div>
<div class="deadline">
  Deadline: {{ task.deadline }}
</div>

  <div class="chat">
    <div class="conversation" id="ticket_chat">
      {% if comments %}
        {% for comment in comments %}
          {% if comment.sender == "client" %}
            <div class="message you">
              <p class="title">You</p>
              <p style="margin-top: 5px">{{comment.message|linebreaksbr}}</p>
              {% if comment.file_name %}
                <img alt="img" style="height: 400px" src="{{ request.scheme }}://{{ request.get_host }}{{comment.file}}" alt="{{comment.file_name}}">
              {% endif %}
              <div class="time">{{comment.data}}</div>
            </div>
          {% else %}
            <div class="message your-manager">
              <p class="title">Your personal manager👩‍💻</p>
              <p style="margin-top: 5px">{{comment.message|linebreaksbr}}</p>
              {% if comment.file_name %}
                <img alt="img" style="height: 400px" src="{{ request.scheme }}://{{ request.get_host }}{{comment.file}}" alt="{{comment.file_name}}">
              {% endif %}
              <div class="time">{{comment.data}}</div>
            </div>
          {% endif %}
        {% endfor %}
      {% else %}
        <div class="empty_chat" id="empty_chat">Chat is empty. Please send message in ticked.</div>
      {% endif %}
    </div>
  </div>
  <div class="chat-box__field">
      <form class="field" method="POST" id="new-user-message-form">
          <span id="ticked_id" hidden>{{task.task_id}}</span>
          <textarea placeholder="write message" class="field__area" name="new-user-message" id="new-user-message" autocomplete="off"></textarea>
          <div id="added_file" class="added_file"></div>
          <div class="file-upload">
            <label>
              <input type="file" name="userfile[]" multiple id="userfile" hidden>
              <img src="{% static 'images/add_file.svg' %}" style="height: 25px">
            </label>
          </div>
          <div type="submit" class="field__button">
              <img src="{% static 'images/send.svg' %}" alt="send" id="send-user-message">
          </div>
      </form>
  </div>
{% endblock %}
{% block footer %}
<div class="container">
  <ul class="footer__list">
    <li class="footer__item">
      <div class="footer__social">
        <a class="footer__social-link" href="https://www.facebook.com/nexxesstrust">
          <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="26.4583mm" height="26.4584mm" version="1.1"
            style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
            viewBox="0 0 2646 2646" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
              <style type="text/css">
                <![CDATA[
                .fil0 {
                  fill: white
                }
                ]]>
              </style>
            </defs>
            <g id="Layer_x0020_1">
              <metadata id="CorelCorpID_0Corel-Layer" />
              <path class="fil0"
                d="M0 1324c0,333 108,605 299,847 13,17 24,27 37,43 22,28 48,50 73,76 13,13 24,26 38,37 90,72 119,101 228,161 19,10 28,17 48,27 100,50 231,95 342,117 14,3 53,9 65,15l0 -954 -299 0 0 -368 299 0c0,-170 -15,-406 53,-544 63,-126 151,-198 290,-238 50,-14 99,-16 153,-23 52,-6 302,26 324,26l0 325 -240 0c-59,0 -114,17 -146,46 -20,18 -29,32 -41,55 -11,22 -21,48 -21,80l0 256c0,12 4,16 16,16l373 0c-1,27 -9,64 -14,93l-36 235c-3,22 1,39 -19,39l-245 0 0 954c59,-28 174,-22 418,-168 123,-73 226,-166 322,-270 11,-12 20,-25 31,-38l94 -130c284,-453 269,-1041 -44,-1483 -75,-106 -108,-131 -193,-217 -16,-16 -26,-22 -43,-37l-95 -71c-32,-21 -66,-46 -101,-64 -155,-80 -320,-148 -501,-160 -116,-8 -188,-13 -302,2 -132,18 -274,50 -388,108 -184,93 -338,198 -468,358 -26,32 -46,60 -71,94 -25,34 -42,65 -64,101 -20,32 -41,75 -56,109 -64,143 -117,337 -117,544z" />
            </g>
          </svg>
        </a>
        <a class="footer__social-link" href="https://twitter.com/nexxessintl">
          <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="26.4582mm" height="26.4579mm" version="1.1"
            style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
            viewBox="0 0 2646 2646" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
              <style type="text/css">
                <![CDATA[
                .fil0 {
                  fill: white
                }
                ]]>
              </style>
            </defs>
            <g id="Layer_x0020_1">
              <metadata id="CorelCorpID_0Corel-Layer" />
              <path class="fil0"
                d="M0 1228c0,447 69,713 383,1028 618,620 1682,495 2130,-339 131,-243 133,-427 133,-689 0,-348 -204,-659 -383,-838 -618,-620 -1682,-495 -2130,339 -63,117 -133,328 -133,499zm1306 -162c-397,-30 -493,-184 -701,-343 -98,218 -8,313 90,438l-126 -29c-10,159 96,269 218,307l-102 31c59,171 129,173 293,237 -128,115 -263,118 -467,142 660,354 1381,35 1467,-791 14,-137 82,-110 152,-232l-136 29c35,-54 78,-88 100,-170 -178,76 -159,86 -249,40 -91,-46 -121,-91 -269,-67 -194,31 -285,182 -272,407z" />
            </g>
          </svg>
        </a>
        <a class="footer__social-link" href="#">
          <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="26.4584mm" height="26.4581mm" version="1.1"
            style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
            viewBox="0 0 2646 2646" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
              <style type="text/css">
                <![CDATA[
                .fil0 {
                  fill: white
                }
                ]]>
              </style>
            </defs>
            <g id="Layer_x0020_1">
              <metadata id="CorelCorpID_0Corel-Layer" />
              <g id="_1943331531584">
                <path class="fil0"
                  d="M1267 2646c160,0 228,2 388,-40 147,-38 308,-110 430,-199 33,-24 101,-75 130,-105 16,-17 27,-22 42,-38 224,-227 388,-564 388,-888 0,-195 -9,-323 -77,-505 -27,-72 -39,-100 -73,-164 -64,-119 -79,-135 -161,-241 -41,-53 -80,-83 -116,-120 -14,-15 -27,-24 -42,-38 -51,-46 -128,-94 -186,-130 -34,-21 -68,-36 -105,-55 -116,-60 -337,-124 -509,-124 -160,0 -224,0 -383,40 -101,25 -254,88 -342,142 -70,44 -147,97 -208,152 -62,56 -126,124 -175,191 -84,115 -153,233 -197,372 -91,283 -96,557 -4,841 60,184 172,371 307,508 228,233 572,400 894,400zm-173 -2191c-228,9 -470,33 -569,288 -70,181 -57,604 -49,819 8,231 34,480 282,580 180,72 585,58 797,50 135,-5 250,-9 361,-64 95,-47 165,-117 207,-225 68,-173 56,-610 49,-816 -9,-238 -33,-477 -282,-582 -169,-71 -593,-58 -796,-50z" />
                <path class="fil0"
                  d="M1210 608c-227,6 -448,0 -534,172 -65,131 -54,494 -50,662 5,226 0,459 170,544 136,69 480,56 650,52 229,-5 440,2 527,-174 67,-135 54,-492 50,-664 -5,-234 2,-451 -169,-541 -128,-67 -479,-56 -643,-52zm53 279c-236,34 -410,219 -369,501 20,136 79,231 152,286 88,67 200,107 341,84 227,-37 406,-224 367,-499 -37,-265 -253,-405 -491,-371zm496 -137c-55,11 -102,39 -92,105 9,60 46,100 111,96 141,-9 106,-227 -19,-201z" />
                <path class="fil0"
                  d="M1311 1033c-400,42 -322,606 31,578 160,-13 275,-129 263,-306 -11,-156 -128,-289 -294,-272z" />
              </g>
            </g>
          </svg>
        </a>
      </div>
    </li>
    <li class="footer__item">
      <p class="footer__item-text">
        Copyright 2000-2023, Nexxess International, All Rights Reserved
      </p>
    </li>
    <li class="footer__item">
      <a class="footer__btn-link" href="{% url 'account_logout' %}">
        consultation
      </a>
    </li>
  </ul>
</div>
{% endblock %}
{% block extra_js %}
<script>
  // send ajax using "enter" keydown
  $("#new-user-message-form").keydown(function(event) {
      if (event.keyCode === 13) {
        event.preventDefault();
        sendMessage();
      }
  });
  // send ajax using button click
  $("#send-user-message").click(function(event) {
      event.preventDefault();
      sendMessage();
  });

  function sendMessage() {
      // if field "new-user-message" is not empty
      var userMessage = $("#new-user-message").val();
      if (userMessage.trim() === '') {
        alert("Please enter a message");
        // $("#message-error").show();
        return;
      }

      var fileInput = document.getElementById('userfile');
      var fileArray = fileInput.files[0];
      var formdata = new FormData();
      formdata.append("file", fileArray);
      formdata.append("user_message", $("#new-user-message").val());
      formdata.append("ticked_id", document.getElementById("ticked_id").innerText);
      formdata.append("site_domain", "https://" + location.hostname);
      $.ajax({
          url: '/tickets/send_user_message/',
          type: 'POST',
          data: formdata,
          contentType: false,
          processData: false,

          success: function (data) {
              // clear message in textarea
              document.getElementById('new-user-message').value = '';
              // delete empty block
              var empty_block = document.getElementById('empty_chat');
              if(empty_block){
                  document.getElementById('empty_chat').remove();
              }

              // title block
              var Title = document.createElement("p");
              Title.className = "title";
              Title.textContent = "You";

              // message block
              var newMessage = document.createElement("p");
              newMessage.style = "margin-top: 5px";
              newMessage.textContent = data.user_message;

              // time block
              var TimeMessage = document.createElement("div");
              TimeMessage.className = "time";
              TimeMessage.textContent = data.comment_created_data;

              // news message block with title, message, time
              var newMessageDiv = document.createElement("div");
              newMessageDiv.className = "message you";

              // news message block with file if it added
              if(data.added_file == true){
                document.getElementById('added_file').innerText = "";
                var newMessageImg = document.createElement("img");
                newMessageImg.style = "height: 400px";
                newMessageImg.alt = data.file_name;
                newMessageImg.src = data.file_url;
                newMessageDiv.append(Title, newMessage, newMessageImg, TimeMessage);
              }else{
                newMessageDiv.append(Title, newMessage, TimeMessage);
              }

              // set block with new message in chat bock
              var conversationBlock = document.getElementById("ticket_chat");
              conversationBlock.appendChild(newMessageDiv);
          },
          error: function(error) {
              console.log('ajax send message', error);
          }
      });
  }

  // $("#add-file").click(function(event) {
  //     var fileInput = document.createElement('input');
  //     fileInput.type = 'file';
  //     fileInput.style.display = 'none';
  //     fileInput.addEventListener('change', function() {
  //         var selectedFile = fileInput.files[0];
  //         // console.log('Ви обрали файл:', selectedFile);
  //         var added_file = document.getElementById("added_file");
  //         added_file.innerText = selectedFile['name'];
  //         added_file.dataset.file_name = selectedFile['name'];
  //         added_file.dataset.size = selectedFile['size'];
  //         added_file.dataset.type = selectedFile['type'];
  //         added_file.dataset.last_modified = selectedFile['lastModified'];
  //     });
  //     document.body.appendChild(fileInput);
  //     fileInput.click();
  //     document.body.removeChild(fileInput);
  // });

  // file in input block
  $(".file-upload input[type=file]").change(function(){
       var filename = $(this).val().replace(/.*\\/, "");
       $("#added_file")[0].innerText = filename;
  });
</script>
<script src="{% static 'js/tickets.js' %}"> </script>
<script src="{% static 'js/global.js' %}"></script>
{% endblock %}
