{% extends 'base.html' %}
{% load static %}
{% block content %}
  <h1>Ticket {{task.id}}</h1>
    <table cellspacing="0" style="width: 80%; margin-left: 10%;">
        <tr>
            <th style="width: 25%">Item id</th>
            <th style="width: 25%">Ticket id</th>
            <th style="width: 25%">Is opened</th>
            <th style="width: 25%">Ticket array</th>
        </tr>
        <tr>
            <td>{{ task.id }}</td>
            <td>{{ task.task_id }}</td>
            <td>{{ task.is_opened }}</td>
            <td>{{ task.task_info }}</td>
        </tr>
    </table>
{% endblock %}