{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/tickets.css' %}">
{% endblock %}

{% block title %} Tickets {% endblock %}

{% block left_menu %}
  <div class="aside-info">
    <div class="aside-info__box">
      <div class="aside-info__box-top">
        <img class="aside-info__top-img" src="{% static 'images/important.svg' %}" alt="icon">
        <h6 class="aside-info__top-title">Important</h6>
        <p class="aside-info__top-number">3</p>
      </div>
      <ul class="aside-info__box-list">
        <li class="aside-info__box-item">
          <p class="aside-info__box-text">My current service:</p>
          <p class="aside-info__box-money">Services Name</p>
        </li>
        <li class="aside-info__box-item">
          <p class="aside-info__box-text">New servises this month:</p>
          <p class="aside-info__box-money">2</p>
        </li>
        <li class="aside-info__box-item">
          <p class="aside-info__box-text">Actual discounts:</p>
          <p class="aside-info__box-money">10%</p>
        </li>
      </ul>
    </div>
  </div>

  <div class="aside-filter">
    <div class="aside-filter__accordion">
      <div  class="aside-filter__accordion-top" id="aside-filter__accordion-top">
        <img class="aside-filter__top-img" src="{% static 'images/filter.svg' %}" alt="icon">
        <h6 class="aside-filter__top-title">Status</h6>
        <img class="aside-filter__top-arrow" src="{% static 'images/chevron-down.svg' %}" alt="icon">
      </div>

      <ul class="aside-filter__accordion-list">
        <li class="aside-filter__accordion-item">
          <label class="aside-filter__accordion-label" for="status1">
              <input id="status1" class="aside-filter__accordion-check"  name="check" type="checkbox" >
              Ongoing
            </label>
          <p class="aside-filter__accordion-number">0</p>
        </li>
        <li class="aside-filter__accordion-item">
            <label class="aside-filter__accordion-label" for="status2">
              <input id="status2" class="aside-filter__accordion-check" name="check" type="checkbox">
              Overdue
            </label>
          <p class="aside-filter__accordion-number">0</p>
        </li>
        <li class="aside-filter__accordion-item">
            <label class="aside-filter__accordion-label" for="status3">
              <input id="status3" class="aside-filter__accordion-check" name="check" type="checkbox">
              Closed
            </label>
          <p class="aside-filter__accordion-number">0</p>
        </li>
      </ul>
    </div>

    <div class="aside-filter__accordion">
      <div id="aside-filter__accordion-top" class="aside-filter__accordion-top">
        <img class="aside-filter__top-img" src="{% static 'images/calendar.svg' %}" alt="icon">
        <h6 class="aside-filter__top-title">Calendar</h6>
        <img class="aside-filter__top-arrow" src="{% static 'images/chevron-down.svg' %}" alt="icon">
      </div>

    <ul class="aside-filter__accordion-list">
        <li class="aside-filter__accordion-item">
          <p class="aside-filter__accordion-text">From:</p>
          <div class="aside-filter__accordion-box">
            <input id="fromDatePicker" class="aside-filter__accordion-date"  type="text" readonly="readonly" placeholder="select a date">
          </div>
        </li>
        <li class="aside-filter__accordion-item">
          <p class="aside-filter__accordion-text">To:</p>
          <div class="aside-filter__accordion-box">
            <input id="toDatePicker" class="aside-filter__accordion-date"  type="text" readonly="readonly" placeholder="select a date">
          </div>
        </li>
      </ul>
    </div>
    <button class="aside-filter__accordion-btn" id="search-btn">Search</button>
  </div>
{% endblock %}

{% block content %}
  <div class="content__inner">
    <div class="content__top">
      <h1 class="title content__top-title">Tickets</h1>
      <div class="content__top-search">
        <img class="content__top-img" src="{% static 'images/main/Search.svg' %}" alt="Search">
        <input class="content__top-input" type="text" placeholder="Search">
      </div>
    </div>

    <button id="content__create-btn" class="content__create-btn" type="button">
      <img class="content__create-img" src="{% static 'images/create-btn.svg' %}" alt="create-icon">
      Create ticket
    </button>

    <form id="content__form" class="content__form" action="#">
        <div class="content__form-box">
          <input class="content__form-input" type="text" placeholder="Title">
          <textarea class="content__form-textarea" name="" id="" cols="30" rows="7" placeholder="Enter a task"></textarea>
          <button class="content__form-submit" type="submit">Apply</button>
        </div>
        <div class="content__form-box">
          <div class="content__form-tags">
            <h5 class="content__form-title">Choose tags:</h5>
            <div class="content__form-body">
              <ul class="content__form-list">
                <li class="content__form-item">#Tag 1</li>
                <li class="content__form-item">#Tag 2</li>
                <li class="content__form-item">#Tag 3</li>
              </ul>
            <button id="form__new-tag" class="content__form-btn" type="button">New tag</button>
              <div class="popup">
                <div class="popup__content">
                  <div class="popup__body">
                    <button class="popup__close" type="button"></button>
                    <div class="popup__box">
                      <h5 class="popup__text">Create new tag</h5>
                      <input id="popup__input" class="popup__input" type="text" placeholder="#newtag">
                      <button class="popup__btn" type="button">Create</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="content__form-duration">
            <h5 class="content__form-title">Determine the duration:</h5>
            <div class="content__form-selects">
              <p class="content__form-text">Deadline:</p>
              <div class="content__form__accordion-box">
                <input id="contentFormDatePicker" class="content__form__accordion-date"  type="text"readonly="readonly" placeholder="select a date">
              </div>
            </div>
          </div>
        </div>
    </form>

    <button class="content__filter-btn" type="button">
      <img class="content__filter-img" src="{% static 'images/filter-btn.svg' %}" alt="filter-icon">
      Filter
    </button>

    <div class="content__top">
      <div class="content__top-body">
        <h1 class="title content__top-title">Tickets history</h1>
      </div>
    </div>

    <ul class="content__titles">
      <li class="content__titles-item">Ticked id#</li>
      <li class="content__titles-item">Name</li>
      <li class="content__titles-item">Ticket Date</li>
      <li class="content__titles-item">Due Date</li>
      <li class="content__titles-item">Status</li>
    </ul>

    <div class="content__box">
      <div class="content__body">
        <p class="content__body-titleDate">29th Mar 2023</p>
        <ul class="content__body-list">
          <li class="content__body-box">
            <ul class="content__body-titles">
              <li class="content__body-title">Ticked id#</li>
              <li class="content__body-title">Status</li>
              <li class="content__body-title">Name</li>
              <li class="content__body-title">Ticket Date</li>
              <li class="content__body-title">Due Date</li>
            </ul>

            <ul class="content__body-items">
              <p class="content__body-number">1</p>
              <li class="content__body-item style--width">
                <a class="content__body-link" href="">
                  <img src="{% static 'images/invoices/print.svg' %}" alt="print">
                </a>
                <p class="content__body-text">0000001</p>
              </li>
              <li class="content__body-item style--width">
                <p class="content__body-name">Title 1</p>
              </li>
              <li class="content__body-item style--width">
                <p class="content__body-date">27 Mar 2023</p>
              </li>
              <li class="content__body-item style--width">
                <p class="content__body-date">27 Mar 2023</p>
              </li>
              <li class="content__body-item style--width">
                <p class="content__body-status style--width font--green">Ongoing</p>
              </li>
            </ul>

            <div class="content__body-messages">
              <p>2</p>
              <img src="{% static 'images/mail.svg' %}" alt="print">
            </div>

            <button class="content__body-btn">
              <img class="content__body-img" src="{% static 'images/chevron.svg' %}" alt="arrow">
            </button>
          </li>
          <li class="content__body-box">
            <ul class="content__body-titles">
              <li class="content__body-title">Ticked id#</li>
              <li class="content__body-title">Status</li>
              <li class="content__body-title">Name</li>
              <li class="content__body-title">Ticket Date</li>
              <li class="content__body-title">Due Date</li>
            </ul>

            <ul class="content__body-items">
              <p class="content__body-number">2</p>
              <li class="content__body-item style--width">
                <a class="content__body-link" href="">
                  <img src="{% static 'images/invoices/print.svg' %}" alt="print">
                </a>
                <p class="content__body-text">0000002</p>
              </li>
              <li class="content__body-item style--width">
                <p class="content__body-name">Title 1</p>
              </li>
              <li class="content__body-item style--width">
                <p class="content__body-date">27 Mar 2023</p>
              </li>
              <li class="content__body-item style--width">
                <p class="content__body-date">28 Mar 2023</p>
              </li>
              <li class="content__body-item style--width">
                <p class="content__body-status style--width font--pink">Overdue</p>
              </li>
            </ul>

            <div class="content__body-messages">
            </div>

            <button class="content__body-btn">
              <img class="content__body-img" src="{% static 'images/chevron.svg' %}" alt="arrow">
            </button>
          </li>
          <li class="content__body-box">
            <ul class="content__body-titles">
              <li class="content__body-title">Ticked id#</li>
              <li class="content__body-title">Status</li>
              <li class="content__body-title">Name</li>
              <li class="content__body-title">Ticket Date</li>
              <li class="content__body-title">Due Date</li>
            </ul>

            <ul class="content__body-items">
              <p class="content__body-number">3</p>
              <li class="content__body-item style--width">
                <a class="content__body-link" href="">
                  <img src="{% static 'images/invoices/print.svg' %}" alt="print">
                </a>
                <p class="content__body-text">0000001</p>
              </li>
              <li class="content__body-item style--width">
                <p class="content__body-name">Title 1</p>
              </li>
              <li class="content__body-item style--width">
                <p class="content__body-date">27 Mar 2023</p>
              </li>
              <li class="content__body-item style--width">
                <p class="content__body-date">28 Mar 2023</p>
              </li>
              <li class="content__body-item style--width">
                <p class="content__body-status style--width font--green">Ongoing</p>
              </li>
            </ul>

            <div class="content__body-messages">
            </div>

            <button class="content__body-btn">
              <img class="content__body-img" src="{% static 'images/chevron.svg' %}" alt="arrow">
            </button>
          </li>
        </ul>
      </div>
      <div class="content__body">
        <p class="content__body-titleDate">29th Mar 2023</p>
        <ul class="content__body-list">
          <li class="content__body-box">
            <ul class="content__body-titles">
              <li class="content__body-title">Ticked id#</li>
              <li class="content__body-title">Status</li>
              <li class="content__body-title">Name</li>
              <li class="content__body-title">Ticket Date</li>
              <li class="content__body-title">Due Date</li>
            </ul>

            <ul class="content__body-items">
              <p class="content__body-number">1</p>
              <li class="content__body-item style--width">
                <a class="content__body-link" href="">
                  <img src="{% static 'images/invoices/print.svg' %}" alt="print">
                </a>
                <p class="content__body-text">0000001</p>
              </li>
              <li class="content__body-item style--width">
                <p class="content__body-name">Title 1</p>
              </li>
              <li class="content__body-item style--width">
                <p class="content__body-date">27 Mar 2023</p>
              </li>
              <li class="content__body-item style--width">
                <p class="content__body-date">27 Mar 2023</p>
              </li>
              <li class="content__body-item style--width">
                <p class="content__body-status style--width font--yellow">Closed</p>
              </li>
            </ul>

            <div class="content__body-messages">
              <p>2</p>
              <img src="{% static 'images/mail.svg' %}" alt="print">
            </div>

            <button class="content__body-btn">
              <img class="content__body-img" src="{% static 'images/chevron.svg' %}" alt="arrow">
            </button>
          </li>
          <li class="content__body-box">
            <ul class="content__body-titles">
              <li class="content__body-title">Ticked id#</li>
              <li class="content__body-title">Status</li>
              <li class="content__body-title">Name</li>
              <li class="content__body-title">Ticket Date</li>
              <li class="content__body-title">Due Date</li>
            </ul>

            <ul class="content__body-items">
              <p class="content__body-number">2</p>
              <li class="content__body-item style--width">
                <a class="content__body-link" href="">
                  <img src="{% static 'images/invoices/print.svg' %}" alt="print">
                </a>
                <p class="content__body-text">0000004</p>
              </li>
              <li class="content__body-item style--width">
                <p class="content__body-name">Title 1</p>
              </li>
              <li class="content__body-item style--width">
                <p class="content__body-date">27 Mar 2023</p>
              </li>
              <li class="content__body-item style--width">
                <p class="content__body-date">27 Mar 2023</p>
              </li>
              <li class="content__body-item style--width">
                <p class="content__body-status style--width font--yellow">Closed</p>
              </li>
            </ul>

            <div class="content__body-messages">
            </div>

            <button class="content__body-btn">
              <img class="content__body-img" src="{% static 'images/chevron.svg'%}" alt="arrow">
            </button>
          </li>
          <li class="content__body-box">
            <ul class="content__body-titles">
              <li class="content__body-title">Ticked id#</li>
              <li class="content__body-title">Status</li>
              <li class="content__body-title">Name</li>
              <li class="content__body-title">Ticket Date</li>
              <li class="content__body-title">Due Date</li>
            </ul>

            <ul class="content__body-items">
              <p class="content__body-number">6</p>
              <li class="content__body-item style--width">
                <a class="content__body-link" href="">
                  <img src="{% static 'images/invoices/print.svg' %}" alt="print">
                </a>
                <p class="content__body-text">0000006</p>
              </li>
              <li class="content__body-item style--width">
                <p class="content__body-name">Title 1</p>
              </li>
              <li class="content__body-item style--width">
                <p class="content__body-date">27 Mar 2023</p>
              </li>
              <li class="content__body-item style--width">
                <p class="content__body-date">27 Mar 2023</p>
              </li>
              <li class="content__body-item style--width">
                <p class="content__body-status style--width font--yellow">Ongoing</p>
              </li>
            </ul>

            <div class="content__body-messages">
              <p>2</p>
              <img src="{% static 'images/mail.svg' %}" alt="print">
            </div>

            <button class="content__body-btn">
              <img class="content__body-img" src="{% static 'images/chevron.svg' %}" alt="arrow">
            </button>
          </li>
        </ul>
      </div>
    </div>

      <div id="content__showing-box" class="content__showing-box">
        <p class="content__showing-text">Showing</p>
        <p id="content__showing-number" class="content__showing-number">
          {% if tasks_number < 10 %}
              {{ tasks_number }}
          {% else %}
              10
          {% endif %}
        </p>
        <img class="content__showing-img" src="{% static 'images/invoices/arrow-drop-down.svg' %}" alt="icon">
        <p class="content__showing-numbers">of {{ tasks_number }}</p>
        <ul id="content__showing-list" class="content__showing-list">
          {% if tasks_number < 10 %}
              <li class="content__showing-item">{{ tasks_number }}</li>
          {% elif tasks_number > 10 %}
              <li class="content__showing-item">10</li>
              <li class="content__showing-item">All</li>
          {% elif tasks_number > 50 %}
              <li class="content__showing-item">10</li>
              <li class="content__showing-item">50</li>
              <li class="content__showing-item">All</li>
          {% elif tasks_number > 100 %}
              <li class="content__showing-item">10</li>
              <li class="content__showing-item">50</li>
              <li class="content__showing-item">100</li>
              <li class="content__showing-item">All</li>
          {% endif %}
        </ul>
      </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.min.js' %}"></script>
  <script src="{% static 'js/calendar.js' %}"></script>
  <script src="{% static 'js/tickets.js' %}"></script>
{% endblock %}
